In [434]:
import pandas as pd
df=pd.read_csv("./CSV/Turmeric.csv")
print(df.head())

   Sl no. District Name Market Name Commodity Variety Grade  \
0       1    Coimbatore   Anaimalai  Turmeric   Other   FAQ
1       2         Erode    Anthiyur  Turmeric  Finger   FAQ
2       3         Erode    Anthiyur  Turmeric  Finger   FAQ
3       4         Erode    Anthiyur  Turmeric  Finger   FAQ
4       5         Erode    Anthiyur  Turmeric   Other   FAQ

   Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                     7200                     7800
1                     7450                     7550
2                     7950                     8050
3                     8889                     9100
4                     1900                     2000

   Modal Price (Rs./Quintal) Price Date
0                       7500  16-Jun-22
1                       7500  23-Nov-16
2                       8000  24-Nov-16
3                       8995  17-Nov-16
4                       2000   2-Aug-22

In [435]:
print(df.isnull().sum())

Sl no.                       0
District Name                0
Market Name                  0
Commodity                    0
Variety                      0
Grade                        0
Min Price (Rs./Quintal)      0
Max Price (Rs./Quintal)      0
Modal Price (Rs./Quintal)    0
Price Date                   0
dtype: int64

In [436]:
df['Price Date'] = pd.to_datetime(df['Price Date'],format='mixed')
print(df.head())

   Sl no. District Name Market Name Commodity Variety Grade  \
0       1    Coimbatore   Anaimalai  Turmeric   Other   FAQ
1       2         Erode    Anthiyur  Turmeric  Finger   FAQ
2       3         Erode    Anthiyur  Turmeric  Finger   FAQ
3       4         Erode    Anthiyur  Turmeric  Finger   FAQ
4       5         Erode    Anthiyur  Turmeric   Other   FAQ

   Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                     7200                     7800
1                     7450                     7550
2                     7950                     8050
3                     8889                     9100
4                     1900                     2000

   Modal Price (Rs./Quintal) Price Date
0                       7500 2022-06-16
1                       7500 2016-11-23
2                       8000 2016-11-24
3                       8995 2016-11-17
4                       2000 2022-08-02

In [437]:
df['Market Name'] = df['Market Name'].str.strip()
df['Market Name'] = df['Market Name'].str.replace('Uzhavar Sandhai ','Farmers Market')
print(df['Market Name'].unique())

['Anaimalai' 'Anthiyur' 'Arur' 'Attur' 'Bhavani' 'Chinnasalem' 'Chithode'
 'Coimbatore' 'Erode' 'Gangavalli' 'Gobichettipalayam' 'Karamadai'
 'Karumanturai' 'Karur' 'Kolathur' 'Konganapuram' 'Kunnathur' 'Mylampadi'
 'Namagiripettai' 'Namakkal' 'Omalur' 'Perundurai' 'Pollachi'
 'Pudupalayam' 'Punchaipuliyampatti' 'Rasipuram' 'Salem' 'Sevur'
 'Thalaivasal' 'Thalavadi' 'Thammampati' 'Theni' 'Thiruppur'
 'Thondamuthur' 'Tiruchengode' 'Vellore' 'Velur']

In [438]:
df.drop_duplicates()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,1,Coimbatore,Anaimalai,Turmeric,Other,FAQ,7200,7800,7500,2022-06-16
1,2,Erode,Anthiyur,Turmeric,Finger,FAQ,7450,7550,7500,2016-11-23
2,3,Erode,Anthiyur,Turmeric,Finger,FAQ,7950,8050,8000,2016-11-24
3,4,Erode,Anthiyur,Turmeric,Finger,FAQ,8889,9100,8995,2016-11-17
4,5,Erode,Anthiyur,Turmeric,Other,FAQ,1900,2000,2000,2022-08-02
...,...,...,...,...,...,...,...,...,...,...
16115,16116,Vellore,Vellore,Turmeric,Other,FAQ,13010,14010,14000,2022-04-20
16116,16117,Namakkal,Velur,Turmeric,Other,FAQ,6000,8100,7800,2018-11-10
16117,16118,Namakkal,Velur,Turmeric,Other,FAQ,7100,8500,7500,2017-06-22
16118,16119,Namakkal,Velur,Turmeric,Other,FAQ,7200,8000,7400,2018-07-02
16119,16120,Namakkal,Velur,Turmeric,Other,FAQ,7300,8500,7500,2017-06-05

In [441]:
# TODO check if column can be dropped
#df['Variety'].unique()
#df['Variety']=df['Variety'].str.replace("Mango - Raw-Ripe","Mango-Raw-Ripe")
df['Variety'].unique()

array(['Other', 'Finger', 'Bulb', 'Turmeric', 'Turmeric Round', 'Dry'],
      dtype=object)

In [440]:
# Step 1: Clean basic format
df['Variety'] = df['Variety'].str.strip().str.title()
df['Variety'] = df['Variety'].str.replace(r'\.', '', regex=True)
df['Variety'] = df['Variety'].str.replace(r'-', '', regex=True)
df['Variety'] = df['Variety'].str.replace(r'\s+', ' ', regex=True)

# Step 2: Manual replacement for known mappings
replacements = {
    'B P T': 'BPT',
    'A Ponni': 'Ponni - A',
    'Super Ponni': 'Ponni - Super',
    'White Ponni': 'Ponni - White',
    'Sinna Ponni': 'Ponni - Sinna',
    'Ponni': 'Ponni - General',
    'Paddy Fine': 'Paddy - Fine',
    'Fine': 'Paddy - Fine',
    'Common': 'Paddy - Common',
    'Paddy': 'Paddy - General',
    'White Car': 'Paddy - White',
    'Paddy Jyoti': 'Paddy - Jyoti',
    'IR 50': 'IR 50',
    'IR 20': 'IR 20',
    'IR64': 'IR 64',
    'Co 42': 'CO 42',
    'Co 43': 'CO 43',
    'I R 50': 'IR 50',
    'I R 20': 'IR 20',
    'Ir64': 'IR 64'
}

# Apply replacements safely
df['Variety'] = df['Variety'].replace(replacements)

# Fix IR and CO entries that weren’t captured by full string match
df['Variety'] = df['Variety'].str.replace(r'\bIr\b', 'IR', regex=True)
df['Variety'] = df['Variety'].str.replace(r'\bCo\b', 'CO', regex=True)

# View cleaned unique values
cleaned_unique = sorted(df['Variety'].unique())
print(cleaned_unique)

['Bulb', 'Dry', 'Finger', 'Other', 'Turmeric', 'Turmeric Round']

In [442]:
df['Day Of Week'] = df['Price Date'].dt.dayofweek
print(df)

       Sl no. District Name Market Name Commodity Variety Grade  \
0           1    Coimbatore   Anaimalai  Turmeric   Other   FAQ
1           2         Erode    Anthiyur  Turmeric  Finger   FAQ
2           3         Erode    Anthiyur  Turmeric  Finger   FAQ
3           4         Erode    Anthiyur  Turmeric  Finger   FAQ
4           5         Erode    Anthiyur  Turmeric   Other   FAQ
...       ...           ...         ...       ...     ...   ...
16115   16116       Vellore     Vellore  Turmeric   Other   FAQ
16116   16117      Namakkal       Velur  Turmeric   Other   FAQ
16117   16118      Namakkal       Velur  Turmeric   Other   FAQ
16118   16119      Namakkal       Velur  Turmeric   Other   FAQ
16119   16120      Namakkal       Velur  Turmeric   Other   FAQ

       Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                         7200                     7800
1                         7450                     7550
2                         7950                     8050
3                         8889                     9100
4                         1900                     2000
...                        ...                      ...
16115                    13010                    14010
16116                     6000                     8100
16117                     7100                     8500
16118                     7200                     8000
16119                     7300                     8500

       Modal Price (Rs./Quintal) Price Date  Day Of Week
0                           7500 2022-06-16            3
1                           7500 2016-11-23            2
2                           8000 2016-11-24            3
3                           8995 2016-11-17            3
4                           2000 2022-08-02            1
...                          ...        ...          ...
16115                      14000 2022-04-20            2
16116                       7800 2018-11-10            5
16117                       7500 2017-06-22            3
16118                       7400 2018-07-02            0
16119                       7500 2017-06-05            0

[16120 rows x 11 columns]

In [443]:
# Check the data types of the price columns
df['Max Price (Rs./Quintal)'] = pd.to_numeric(df['Max Price (Rs./Quintal)'], errors='coerce').astype('float64')
df['Modal Price (Rs./Quintal)'] = pd.to_numeric(df['Modal Price (Rs./Quintal)'], errors='coerce').astype('float64')
df['Min Price (Rs./Quintal)'] = pd.to_numeric(df['Min Price (Rs./Quintal)'], errors='coerce').astype('float64')

print(df[['Min Price (Rs./Quintal)','Max Price (Rs./Quintal)', 'Modal Price (Rs./Quintal)']].dtypes)

Min Price (Rs./Quintal)      float64
Max Price (Rs./Quintal)      float64
Modal Price (Rs./Quintal)    float64
dtype: object

In [444]:
print(df)

       Sl no. District Name Market Name Commodity Variety Grade  \
0           1    Coimbatore   Anaimalai  Turmeric   Other   FAQ
1           2         Erode    Anthiyur  Turmeric  Finger   FAQ
2           3         Erode    Anthiyur  Turmeric  Finger   FAQ
3           4         Erode    Anthiyur  Turmeric  Finger   FAQ
4           5         Erode    Anthiyur  Turmeric   Other   FAQ
...       ...           ...         ...       ...     ...   ...
16115   16116       Vellore     Vellore  Turmeric   Other   FAQ
16116   16117      Namakkal       Velur  Turmeric   Other   FAQ
16117   16118      Namakkal       Velur  Turmeric   Other   FAQ
16118   16119      Namakkal       Velur  Turmeric   Other   FAQ
16119   16120      Namakkal       Velur  Turmeric   Other   FAQ

       Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                       7200.0                   7800.0
1                       7450.0                   7550.0
2                       7950.0                   8050.0
3                       8889.0                   9100.0
4                       1900.0                   2000.0
...                        ...                      ...
16115                  13010.0                  14010.0
16116                   6000.0                   8100.0
16117                   7100.0                   8500.0
16118                   7200.0                   8000.0
16119                   7300.0                   8500.0

       Modal Price (Rs./Quintal) Price Date  Day Of Week
0                         7500.0 2022-06-16            3
1                         7500.0 2016-11-23            2
2                         8000.0 2016-11-24            3
3                         8995.0 2016-11-17            3
4                         2000.0 2022-08-02            1
...                          ...        ...          ...
16115                    14000.0 2022-04-20            2
16116                     7800.0 2018-11-10            5
16117                     7500.0 2017-06-22            3
16118                     7400.0 2018-07-02            0
16119                     7500.0 2017-06-05            0

[16120 rows x 11 columns]

In [445]:
df = df.drop(columns="Sl no.")
df

,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,Day Of Week
0,Coimbatore,Anaimalai,Turmeric,Other,FAQ,7200.0,7800.0,7500.0,2022-06-16,3
1,Erode,Anthiyur,Turmeric,Finger,FAQ,7450.0,7550.0,7500.0,2016-11-23,2
2,Erode,Anthiyur,Turmeric,Finger,FAQ,7950.0,8050.0,8000.0,2016-11-24,3
3,Erode,Anthiyur,Turmeric,Finger,FAQ,8889.0,9100.0,8995.0,2016-11-17,3
4,Erode,Anthiyur,Turmeric,Other,FAQ,1900.0,2000.0,2000.0,2022-08-02,1
...,...,...,...,...,...,...,...,...,...,...
16115,Vellore,Vellore,Turmeric,Other,FAQ,13010.0,14010.0,14000.0,2022-04-20,2
16116,Namakkal,Velur,Turmeric,Other,FAQ,6000.0,8100.0,7800.0,2018-11-10,5
16117,Namakkal,Velur,Turmeric,Other,FAQ,7100.0,8500.0,7500.0,2017-06-22,3
16118,Namakkal,Velur,Turmeric,Other,FAQ,7200.0,8000.0,7400.0,2018-07-02,0
16119,Namakkal,Velur,Turmeric,Other,FAQ,7300.0,8500.0,7500.0,2017-06-05,0

In [446]:
df.to_csv('./Cleaned CSVs/Turmeric.csv', index=False)