In [26]:
import pandas as pd
import requests
df_agri=pd.read_csv("./Cleaned CSVs/Bajra-2015-2019.csv")
df_agri['Price Date'] = pd.to_datetime(df_agri['Price Date'])
df_agri.head()

,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,Day Of Week
0,Ariyalur,Ariyalur Market,Bajra(Pearl Millet/Cumbu),Other,FAQ,1371.0,1379.0,1372.0,2017-11-22,2
1,Ariyalur,Ariyalur Market,Bajra(Pearl Millet/Cumbu),Other,FAQ,1371.0,1480.0,1480.0,2016-01-18,0
2,Ariyalur,Ariyalur Market,Bajra(Pearl Millet/Cumbu),Other,FAQ,1700.0,1739.0,1728.0,2017-08-29,1
3,Ariyalur,Ariyalur Market,Bajra(Pearl Millet/Cumbu),Other,FAQ,1960.0,2000.0,2000.0,2015-03-10,1
4,Cuddalore,Cuddalore,Bajra(Pearl Millet/Cumbu),Bold,FAQ,1519.0,1519.0,1519.0,2016-08-29,0

In [27]:
CROP_LOOKBACK_DAYS = {
    'Bajra(Pearl Millet/Cumbu)': 90,
    
    'Maize': 120,
    'Paddy': 135
}

In [28]:
DISTRICT_COORDINATES = {
    'Ariyalur' : {'lat' : 11.1404, 'lon' : 79.0745},
    'Cuddalore' : {'lat' : 11.7480, 'lon' : 79.7714},
    'Coimbatore': {'lat': 11.0168, 'lon': 76.9558},
    'Salem' : {'lat' : 11.6643, 'lon' : 78.1460},
    'Vellore' : {'lat' : 12.9236, 'lon' : 79.1331},
    'Erode' : {'lat' : 11.3410, 'lon' : 77.7172},
    'Theni' : {'lat' : 10.0079, 'lon' : 77.4735},

    'Tiruchirappalli': {'lat': 10.7905, 'lon': 78.7047},
    'Madurai': {'lat': 9.9252, 'lon': 78.1198}
}

In [29]:
districts = {k: v for k, v in DISTRICT_COORDINATES.items() if k in df_agri['District Name'].unique()}
lookbacks = {k: v for k, v in CROP_LOOKBACK_DAYS.items() if k in df_agri['Commodity'].unique()}

print(f"Districts being processed for this file: {list(districts.keys())}")
print(f"Lookbacks being processed for this file: {lookbacks}")

Districts being processed for this file: ['Ariyalur', 'Cuddalore', 'Coimbatore', 'Salem', 'Vellore', 'Erode', 'Theni']
Lookbacks being processed for this file: {'Bajra(Pearl Millet/Cumbu)': 90}

In [ ]:
all_weather_data = []
unique_lookbacks = set(lookbacks.values())
start_date = df_agri['Price Date'].min() - pd.Timedelta(days=max(unique_lookbacks, default=0))
end_date = df_agri['Price Date'].max()

In [ ]:
for district, coords in districts.items():
    print(f"Fetching weather data for {df_agri['Commodity'].unique()} in {district}...")
    
    weather_url = f"https://archive-api.open-meteo.com/v1/archive?latitude={coords['lat']}&longitude={coords['lon']}&start_date={start_date.strftime('%Y-%m-%d')}&end_date={end_date.strftime('%Y-%m-%d')}&daily=temperature_2m_mean,precipitation_sum"
    response = requests.get(weather_url)
    
    if response.status_code == 200:
        df_weather = pd.DataFrame(response.json()['daily'])
        df_weather['Price Date'] = pd.to_datetime(df_weather['time'])
        df_weather['District Name'] = district

        for days in unique_lookbacks:
            df_weather[f'temp_mean_{days}d'] = df_weather['temperature_2m_mean'].rolling(window=days, min_periods=1).mean()
            df_weather[f'precip_sum_{days}d'] = df_weather['precipitation_sum'].rolling(window=days, min_periods=1).sum()
        
        all_weather_data.append(df_weather)

df_weather_master = pd.concat(all_weather_data)

Fetching weather data for ['Bajra(Pearl Millet/Cumbu)'] in Ariyalur...
Fetching weather data for ['Bajra(Pearl Millet/Cumbu)'] in Cuddalore...
Fetching weather data for ['Bajra(Pearl Millet/Cumbu)'] in Coimbatore...
Fetching weather data for ['Bajra(Pearl Millet/Cumbu)'] in Salem...
Fetching weather data for ['Bajra(Pearl Millet/Cumbu)'] in Vellore...
Fetching weather data for ['Bajra(Pearl Millet/Cumbu)'] in Erode...
Fetching weather data for ['Bajra(Pearl Millet/Cumbu)'] in Theni...

In [34]:
print(df_weather.head())

         time  temperature_2m_mean  precipitation_sum Price Date  \
0  2015-01-14                 22.6                0.0 2015-01-14
1  2015-01-15                 22.9                0.0 2015-01-15
2  2015-01-16                 23.9                0.0 2015-01-16
3  2015-01-17                 24.6                0.0 2015-01-17
4  2015-01-18                 24.1                0.0 2015-01-18

  District Name  temp_mean_120d  precip_sum_120d  temp_mean_90d  \
0       Madurai       22.600000              0.0      22.600000
1       Madurai       22.750000              0.0      22.750000
2       Madurai       23.133333              0.0      23.133333
3       Madurai       23.500000              0.0      23.500000
4       Madurai       23.620000              0.0      23.620000

   precip_sum_90d  temp_mean_135d  precip_sum_135d
0             0.0       22.600000              0.0
1             0.0       22.750000              0.0
2             0.0       23.133333              0.0
3             0.0       23.500000              0.0
4             0.0       23.620000              0.0