In [129]:
import pandas as pd
df=pd.read_csv("./CSV/Coconut-2015-2019.csv")
print(df.head())

   Sl no. District Name Market Name Commodity  Variety Grade  \
0       1         Erode   Alangeyam   Coconut  Coconut   FAQ
1       2         Erode   Alangeyam   Coconut  Coconut   FAQ
2       3         Erode   Alangeyam   Coconut  Coconut   FAQ
3       4    Coimbatore   Anaimalai   Coconut    Other   FAQ
4       5    Coimbatore   Anaimalai   Coconut    Other   FAQ

   Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                   1250.0                   2250.0
1                   1760.0                   2200.0
2                   1760.0                   2200.0
3                    600.0                   2000.0
4                    600.0                   2200.0

   Modal Price (Rs./Quintal) Price Date
0                     1400.0  11-Aug-17
1                     1940.0  16-Jul-18
2                     1960.0  25-Jun-18
3                     1800.0  10-Sep-15
4                     1800.0  18-Jul-15

In [130]:
print(df.isnull().sum())

Sl no.                       0
District Name                0
Market Name                  0
Commodity                    0
Variety                      0
Grade                        0
Min Price (Rs./Quintal)      0
Max Price (Rs./Quintal)      0
Modal Price (Rs./Quintal)    0
Price Date                   0
dtype: int64

In [132]:
df['Price Date'] = pd.to_datetime(df['Price Date'])
print(df.head())

   Sl no. District Name Market Name Commodity  Variety Grade  \
0       1         Erode   Alangeyam   Coconut  Coconut   FAQ
1       2         Erode   Alangeyam   Coconut  Coconut   FAQ
2       3         Erode   Alangeyam   Coconut  Coconut   FAQ
3       4    Coimbatore   Anaimalai   Coconut    Other   FAQ
4       5    Coimbatore   Anaimalai   Coconut    Other   FAQ

   Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                   1250.0                   2250.0
1                   1760.0                   2200.0
2                   1760.0                   2200.0
3                    600.0                   2000.0
4                    600.0                   2200.0

   Modal Price (Rs./Quintal) Price Date
0                     1400.0 2017-08-11
1                     1940.0 2018-07-16
2                     1960.0 2018-06-25
3                     1800.0 2015-09-10
4                     1800.0 2015-07-18

In [144]:
df['Market Name'] = df['Market Name'].str.strip()
# df['Market Name'] = df['Market Name'].str.replace('Uzhavar Sandhai ','Farmers Market')
print(df['Market Name'].unique())

['Alangeyam' 'Anaimalai' 'Annur' 'Anthiyur' 'Avalpoonthurai' 'Bhavani'
 'Boothapadi' 'Dharapuram' 'Eathamozhi' 'Elumathur' 'Erode' 'Gangavalli'
 'Gopalpatti' 'Gudiyatham' 'Kalliakavillai' 'Kangeyam' 'Karamadai'
 'Karumanturai' 'Karur' 'Kavunthapadi' 'Kianthukadavu' 'Kodumudi'
 'Konganapuram' 'Kunnathur' 'Madathukulam' 'Melur' 'Monday Market'
 'Muthur' 'Namagiripettai' 'Namakkal' 'Natham' 'Negamam' 'Oddunchairum'
 'Omalur' 'Palani' 'Palladam' 'Perundurai' 'Pethappampatti' 'Pollachi'
 'Pongalur' 'Pudupalayam' 'Rasipuram' 'Salem' 'Sathyamangalam' 'Senjeri'
 'Singampuneri' 'Sulur' 'Thalavadi' 'Thammampati' 'Thiruppur' 'Thoduvetty'
 'Thondamuthur' 'Udumalpet' 'Ulundurpettai' 'Vadaseri' 'Vathlagundu'
 'Vazhapadi' 'Vedachandur' 'Vellakkoil' 'Velur']

In [134]:
df.drop_duplicates()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,1,Erode,Alangeyam,Coconut,Coconut,FAQ,1250.0,2250.0,1400.0,2017-08-11
1,2,Erode,Alangeyam,Coconut,Coconut,FAQ,1760.0,2200.0,1940.0,2018-07-16
2,3,Erode,Alangeyam,Coconut,Coconut,FAQ,1760.0,2200.0,1960.0,2018-06-25
3,4,Coimbatore,Anaimalai,Coconut,Other,FAQ,600.0,2000.0,1800.0,2015-09-10
4,5,Coimbatore,Anaimalai,Coconut,Other,FAQ,600.0,2200.0,1800.0,2015-07-18
...,...,...,...,...,...,...,...,...,...,...
15766,15767,Namakkal,Velur,Coconut,Other,FAQ,8369.0,9210.0,9210.0,2017-07-21
15767,15768,Namakkal,Velur,Coconut,Other,FAQ,8525.0,9660.0,9015.0,2015-03-13
15768,15769,Namakkal,Velur,Coconut,Other,FAQ,11192.0,13015.0,12800.0,2018-02-23
15769,15770,Namakkal,Velur,Coconut,Other,FAQ,12400.0,13269.0,12869.0,2018-02-02
15770,15771,Namakkal,Velur,Coconut,Other,FAQ,12699.0,13315.0,13000.0,2018-02-09

In [136]:
# TODO check if column can be dropped
#df['Variety'].unique()
#df['Variety']=df['Variety'].str.replace("Grade- II","Grade-II")
df['Variety'].unique()

array(['Coconut', 'Other', 'Big', 'Medium', 'Small', 'Grade-II',
       'Grade-I'], dtype=object)

In [137]:
df['Day Of Week'] = df['Price Date'].dt.dayofweek
print(df)

       Sl no. District Name Market Name Commodity  Variety Grade  \
0           1         Erode   Alangeyam   Coconut  Coconut   FAQ
1           2         Erode   Alangeyam   Coconut  Coconut   FAQ
2           3         Erode   Alangeyam   Coconut  Coconut   FAQ
3           4    Coimbatore   Anaimalai   Coconut    Other   FAQ
4           5    Coimbatore   Anaimalai   Coconut    Other   FAQ
...       ...           ...         ...       ...      ...   ...
15766   15767      Namakkal       Velur   Coconut    Other   FAQ
15767   15768      Namakkal       Velur   Coconut    Other   FAQ
15768   15769      Namakkal       Velur   Coconut    Other   FAQ
15769   15770      Namakkal       Velur   Coconut    Other   FAQ
15770   15771      Namakkal       Velur   Coconut    Other   FAQ

       Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                       1250.0                   2250.0
1                       1760.0                   2200.0
2                       1760.0                   2200.0
3                        600.0                   2000.0
4                        600.0                   2200.0
...                        ...                      ...
15766                   8369.0                   9210.0
15767                   8525.0                   9660.0
15768                  11192.0                  13015.0
15769                  12400.0                  13269.0
15770                  12699.0                  13315.0

       Modal Price (Rs./Quintal) Price Date  Day Of Week
0                         1400.0 2017-08-11            4
1                         1940.0 2018-07-16            0
2                         1960.0 2018-06-25            0
3                         1800.0 2015-09-10            3
4                         1800.0 2015-07-18            5
...                          ...        ...          ...
15766                     9210.0 2017-07-21            4
15767                     9015.0 2015-03-13            4
15768                    12800.0 2018-02-23            4
15769                    12869.0 2018-02-02            4
15770                    13000.0 2018-02-09            4

[15771 rows x 11 columns]

In [138]:
# Check the data types of the price columns
df['Max Price (Rs./Quintal)'] = pd.to_numeric(df['Max Price (Rs./Quintal)'], errors='coerce').astype('float64')
df['Modal Price (Rs./Quintal)'] = pd.to_numeric(df['Modal Price (Rs./Quintal)'], errors='coerce').astype('float64')
df['Min Price (Rs./Quintal)'] = pd.to_numeric(df['Min Price (Rs./Quintal)'], errors='coerce').astype('float64')

print(df[['Min Price (Rs./Quintal)','Max Price (Rs./Quintal)', 'Modal Price (Rs./Quintal)']].dtypes)

Min Price (Rs./Quintal)      float64
Max Price (Rs./Quintal)      float64
Modal Price (Rs./Quintal)    float64
dtype: object

In [139]:
print(df)

       Sl no. District Name Market Name Commodity  Variety Grade  \
0           1         Erode   Alangeyam   Coconut  Coconut   FAQ
1           2         Erode   Alangeyam   Coconut  Coconut   FAQ
2           3         Erode   Alangeyam   Coconut  Coconut   FAQ
3           4    Coimbatore   Anaimalai   Coconut    Other   FAQ
4           5    Coimbatore   Anaimalai   Coconut    Other   FAQ
...       ...           ...         ...       ...      ...   ...
15766   15767      Namakkal       Velur   Coconut    Other   FAQ
15767   15768      Namakkal       Velur   Coconut    Other   FAQ
15768   15769      Namakkal       Velur   Coconut    Other   FAQ
15769   15770      Namakkal       Velur   Coconut    Other   FAQ
15770   15771      Namakkal       Velur   Coconut    Other   FAQ

       Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                       1250.0                   2250.0
1                       1760.0                   2200.0
2                       1760.0                   2200.0
3                        600.0                   2000.0
4                        600.0                   2200.0
...                        ...                      ...
15766                   8369.0                   9210.0
15767                   8525.0                   9660.0
15768                  11192.0                  13015.0
15769                  12400.0                  13269.0
15770                  12699.0                  13315.0

       Modal Price (Rs./Quintal) Price Date  Day Of Week
0                         1400.0 2017-08-11            4
1                         1940.0 2018-07-16            0
2                         1960.0 2018-06-25            0
3                         1800.0 2015-09-10            3
4                         1800.0 2015-07-18            5
...                          ...        ...          ...
15766                     9210.0 2017-07-21            4
15767                     9015.0 2015-03-13            4
15768                    12800.0 2018-02-23            4
15769                    12869.0 2018-02-02            4
15770                    13000.0 2018-02-09            4

[15771 rows x 11 columns]

In [140]:
df = df.drop(columns="Sl no.")
df

,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,Day Of Week
0,Erode,Alangeyam,Coconut,Coconut,FAQ,1250.0,2250.0,1400.0,2017-08-11,4
1,Erode,Alangeyam,Coconut,Coconut,FAQ,1760.0,2200.0,1940.0,2018-07-16,0
2,Erode,Alangeyam,Coconut,Coconut,FAQ,1760.0,2200.0,1960.0,2018-06-25,0
3,Coimbatore,Anaimalai,Coconut,Other,FAQ,600.0,2000.0,1800.0,2015-09-10,3
4,Coimbatore,Anaimalai,Coconut,Other,FAQ,600.0,2200.0,1800.0,2015-07-18,5
...,...,...,...,...,...,...,...,...,...,...
15766,Namakkal,Velur,Coconut,Other,FAQ,8369.0,9210.0,9210.0,2017-07-21,4
15767,Namakkal,Velur,Coconut,Other,FAQ,8525.0,9660.0,9015.0,2015-03-13,4
15768,Namakkal,Velur,Coconut,Other,FAQ,11192.0,13015.0,12800.0,2018-02-23,4
15769,Namakkal,Velur,Coconut,Other,FAQ,12400.0,13269.0,12869.0,2018-02-02,4
15770,Namakkal,Velur,Coconut,Other,FAQ,12699.0,13315.0,13000.0,2018-02-09,4

In [143]:
df.to_csv('./Cleaned CSVs/Coconut-2015-2019.csv', index=False)